[ASFBAH]
cfg_shared_tmp_path = /tmp/asfbah/
refresh_rate = 60
cpu_core_to_use_for_harvesting = 3
team = Brony@Home
secret_key = hiMYJsK3kiCeN2OqSMHF4FEbW87dTnSTDkTLL5tjznF9PXlud5Oqvg0ICaZhbBXuzTiDhK7wyYsW9Xycet9leR4qQl85iClACsalzVYbxJH6ipOJnNdm9bZQKPZCXz9R9VVOTpoTDSZgc7ZyWxJZ1L9IDqXMrBILOG1Y2Lrgro2Lh6Ji71bdv5ANK41XvYMnHyc7BYjkFyJgs30I68ri7eGa2AINUv3xTi2LkFXd5ttDXaVDeEOcfm72NIL64pWB

