<!DOCTYPE html>
<html>
<head>
    <title>Harvester ASFB@H Experimental Prototype</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ink.min.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/ink-all.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/main_view.js') }}"></script>
</head>
<body>
<nav class="ink-navigation">
    <ul class="menu horizontal black">
        <li class="heading active"><a href="#">HARVESTER</a></li>
        <li><a href="/harvester/admin">Administration</a></li>
        <li><a href="/harvester">Harvester logs</a></li>
    </ul>
</nav>
<br>
<br>

<div class="ink-grid">
    <div class="column-group gutters">
        <div id="menu" class="all-25 small-100 tiny-100 " >


<form class="ink-form" name="table_options" id="table_options">
<fieldset>
<div class="control-group">
    <legend>Filters :</legend>
     <div class="column-group">
        <ul class="unstyled">
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check1">Complete</label></div>
            <div class="control"><input  onclick="refresh()" type="checkbox" name="option1" value="Complete" id="check1" /></div>
        </li></div>
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check2">Start</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option2" value="Start" id="check2" /></div>
        </li></div>
         <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check3">Info</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option3" value="Info" id="check3" /></div>
        </li></div>
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check4">Error</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option4" value="Error" id="check4" /></div>
        </li></div>
</ul>
</div>
</div>
    <div class="control-group">
        <label for="module">Modules :</label>
        <div class="control">
            <input id="module" type="text" onkeyup="refresh()" name="module">
        </div>
         <p class="tip">ex: folding@home</p>
    </div>
    <div class="control-group">
        <label for="rows">Number of rows :</label>
        <div class="control">
            <input id="rows" type="text" onkeyup="refresh()" name="rows">
        </div>
         <p class="tip">ex: 100</p>
    </div>
    </fieldset>
</form>

</div>

<div class="log_table all-75 small-100 tiny-100">
       <h2>Logs table</h2>
       <table class="ink-table hover">
       <thead><tr>
           <th class="align-left"> Date </th>
           <th class="align-left"> Module </th>
           <th class="align-left"> Type </th>
           <th class="align-left"> Message </th>
       </tr></thead><tbody>
    {% for log in logs%}
     {% if log["type"] == "TYPE_COMPLETE" %}
        <tr class="blue">
    {% elif log["type"] == "TYPE_ERROR" %}
        <tr class="red">
    {% elif log["type"] == "TYPE_START" %}
        <tr class="yellow">
    {% else %}
        <tr>
    {% endif %}
           <td>{{log["datetime"]}}</td>
           <td>{{log["module"]}}</td>
           <td>{{log["type"]}}</td>
           <td>{{log["message"]}}</td>
        </tr>
    {% endfor %}
       </tbody></table>
</div>
 </div>
</div>
<script>

refresh();
setTimeout(getNewLogs(),5000);

</script>
</body>
</html>
