<!DOCTYPE html>
<html>
<head>
    <title>Harvester ASFB@H Experimental Prototype</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ink.min.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/ink-all.min.js') }}"></script>
</head>
<body>
<nav class="ink-navigation">
    <ul class="menu horizontal black">
        <li class="heading active"><a href="#">HARVESTER</a></li>
        <li><a href="/harvester/admin">Administration</a></li>
        <li><a href="/harvester">Harvester logs</a></li>
    </ul>
</nav>
<br>
<br>

<div class="ink-grid">
    <div class="column-group gutters">
        <div id="menu" class="all-25 small-100 tiny-100 " >


<form class="ink-form" name="table_options">
<fieldset>
<div class="control-group">
    <legend>Filters :</legend>
     <div class="column-group">
        <ul class="unstyled">
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check1">Complete</label></div>
            <div class="control"><input  onclick="refresh()" type="checkbox" name="option1" value="Complete" id="check1" /></div>
        </li></div>
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check2">Start</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option2" value="Start" id="check2" /></div>
        </li></div>
         <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check3">Info</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option3" value="Info" id="check3" /></div>
        </li></div>
        <div class="all-25">
        <li>
            <div class="control-group align-center"><label for="check4">Error</label></div>
            <div class="control"><input onclick="refresh()" type="checkbox" name="option4" value="Error" id="check4" /></div>
        </li></div>
</ul>
</div>
</div>
    <div class="control-group">
        <label for="module">Modules :</label>
        <div class="control">
            <input id="module" type="text" onkeyup="refresh()" name="module">
        </div>
         <p class="tip">ex: folding@home</p>
    </div>
    <div class="control-group">
        <label for="rows">Number of rows :</label>
        <div class="control">
            <input id="rows" type="text" onkeyup="refresh()" name="rows">
        </div>
         <p class="tip">ex: 100</p>
    </div>
    </fieldset>
</form>

</div>

<div class="log_table all-75 small-100 tiny-100">
       <h2>Logs table</h2>
       <table class="ink-table hover">
       <thead><tr>
           <th class="align-left"> Date </th>
           <th class="align-left"> Module </th>
           <th class="align-left"> Type </th>
           <th class="align-left"> Message </th>
       </tr></thead><tbody>
    {% for log in logs%}
     {% if log["type"] == "TYPE_COMPLETE" %}
        <tr class="blue">
    {% elif log["type"] == "TYPE_ERROR" %}
        <tr class="red">
    {% elif log["type"] == "TYPE_START" %}
        <tr class="yellow">
    {% else %}
        <tr>
    {% endif %}
           <td>{{log["datetime"]}}</td>
           <td>{{log["module"]}}</td>

           <td>{{log["type"]}}</td>

           <td>{{log["message"]}}</td>

        </tr>
    {% endfor %}
       </tbody></table>
</div>
 </div>
</div>
<script>
jQuery.ajaxSettings.traditional = true;
var last_date = "";
var table_back = "";
var NbRow = 20;
var types_to_print = new Array();

function refresh(){
    types_to_print = [];

    if(table_options.option1.checked == true)
    {
        types_to_print.push("TYPE_COMPLETE");
    }
    if(table_options.option2.checked == true)
    {
        types_to_print.push("TYPE_START");
    }
    if(table_options.option3.checked == true)
    {
        types_to_print.push("TYPE_INFO");
    }
    if(table_options.option4.checked == true)
    {
        types_to_print.push("TYPE_ERROR");
    }

    if(types_to_print==[])
    {
        types_to_print.push("TYPE_COMPLETE");
        types_to_print.push("TYPE_START");
        types_to_print.push("TYPE_INFO");
        types_to_print.push("TYPE_ERROR");
    }
    NbRow = parseInt(table_options.rows.value);

    if(isNaN(NbRow))
    {
        NbRow = 20;
    }


    $.getJSON("/harvester/log",{type:types_to_print, module:[], limit:NbRow, module:table_options.module.value},
      function(feedback){
          var my_tbody = document.getElementsByTagName('tbody');
          var my_content = ""
          for(field in feedback)
          {
                     if(feedback[field].type=="TYPE_COMPLETE")
                     {
                        my_content +="<tr class='blue'>";
                     }
                     else if(feedback[field].type=="TYPE_ERROR")
                     {
                        my_content +="<tr class='red'>";
                     }
                     else if(feedback[field].type=="TYPE_START")
                     {
                        my_content +="<tr class='yellow'>";
                     }
                     else
                     {
                        my_content +="<tr>";
                     }
                     my_content += "<td> " + new Date(feedback[field].datetime * 1000).toUTCString() + " </td><td> "+ feedback[field].module + "</td><td>" + feedback[field].type +" </td><td>"+ feedback[field].message+"</td></tr>";
                     last_date = feedback[field].datetime;
          }
      my_tbody[0].innerHTML = my_content;
      }
      );

}

function get_new_logs(){
    $.getJSON("/harvester/log",{datetime: last_date, type:types_to_print, module:[], limit:NbRow, module:table_options.module.value},
      function(feedback){
      feedback.reverse()
      for(field in feedback)
          {
                     var my_content = "";
                     var my_list = document.getElementsByTagName('tbody')[0];
                     var my_rows = my_list.childNodes;
                     my_rows[my_rows.length-1].remove();
                     if(feedback[field].type=="TYPE_COMPLETE")
                     {
                        my_content ="<tr class='blue'>";
                     }
                     else if(feedback[field].type=="TYPE_ERROR")
                     {
                        my_content ="<tr class='red'>";
                     }
                     else if(feedback[field].type=="TYPE_START")
                     {
                        my_content ="<tr class='yellow'>";
                     }
                     else
                     {
                        my_content ="<tr>";
                     }
                     my_content += "<td> " + new Date(feedback[field].datetime * 1000).toUTCString() + " </td><td> "+ feedback[field].module + "</td><td>" + feedback[field].type +" </td><td>"+ feedback[field].message+"</td></tr>" ;


                     my_list.innerHTML = my_content + my_list.innerHTML;
                     last_date = feedback[field].datetime;
          }

          }
         );

    setTimeout(function(){get_new_logs();}, 5000);}

refresh();
setTimeout(get_new_logs(),5000);

</script>
</body>
</html>
